spring:
  data:
    mongodb:
      host: 127.0.0.1
      database: chatdb
      port: 27017
    redis:
      repositories:
        enabled: false
  servlet:
    multipart:
      #默认支持文件上传.
      enabled: true
      #支持文件写入磁盘.
      file-size-threshold: 0
      # 上传文件的临时目录
      location:
      # 最大支持文件大小
      max-file-size: 1MB
      # 最大支持请求大小
      max-request-size: 30MB
  redis:
    database: 5
    host: 127.0.0.1
    port: 6379
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/chatdb
logging:
  level:
    org.springframework.data.mongodb.core: DEBUG
socketio:
  port: 8888
  workCount: 100
  allowCustomRequests: true
  upgradeTimeout: 10000
  pingTimeout: 60000
  pingInterval: 25000
  maxHttpContentLength: 1048576
  maxFramePayloadLength: 1048576
server:
  servlet:
    context-path: /chat
  port: 5555
aliyun:
  oss:
    endpoint: oss-cn-beijing.aliyuncs.com
    accessKeyId: LTAI5tHFwfZVR9kzj7JfgXTi
    accessKeySecret: RJKeGtTJZCWiGOXWrS86Q9A9hwKMZT
    bucketName: chat-ice

tenxunyun:
  sms:
    appid: 1400585710
    appkey: 81077a6d729e4096ef92d31b2f9c5b9f
    templateId: 1169449
    smsSign: 学习者画像平台公众号
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.log4j2.Log4j2LoggerImpl
    map-underscore-to-camel-case: true
